.container{
}

.shadow-offf {
    box-shadow: 0 0 30px black;
    padding:0 15px 0 15px;
}

.grad {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(red, yellow, green); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(red, yellow, green); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(red, yellow, green); /* For Firefox 3.6 to 15 */
  background: radial-gradient(blue, #0099FF, white); /* Standard syntax */
  border-radius: 25px;
}

/* Glow */
.hvr-glow {
    /*display: inline-block;*/
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
	
	-webkit-transition-property: transform;
	transition-property: transform;
}

.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.card {
	min-height:200px;
	padding:20px;
	margin:20px;
}

.card-text {
}

.card-block {
}